body {
    background-color: #262626;
    color: #9e9e9e;
    font-family: Arial, Helvetica, sans-serif;
}

/* div {
    border: 1px solid white;
} */

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 15%;


    /* background-color: darkblue; */
}

.header {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    flex:1;

    /* border: 1px solid white; */
    /* background-color: darkorange; */
}

.header h1 {
    font-size: 50px;
    margin-bottom: 0px;
    flex:1;

    /* border: 1px solid white; */

}

.header p {
    margin: 5px;
    flex:1;

    /* border: 1px solid white; */
}

.column_container {
    display: flex;
    margin: 0 auto;
    flex:1;
    
    /* border: 1px solid white; */
    /* background-color: black; */
    /* block-size: 400px; */
    /* inline-size: 600px; */
}


#column_1 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex:1;

    /* background-color: aliceblue; */
    
}

#column_1  div {border:  1px solid white;}


.temperature {
    text-align: right;
    height: 70px;
    flex:3;


    /* background-color: blue; */
}

#temp {
    font-size: 80px;
    border:  1px solid white;
    margin-bottom: 0px;

    
}

.minmax {
    flex:0.5;


    /* background-color: darkcyan; */
}


.pressure {
    flex:0.5;
    
    /* background-color: darkkhaki; */
}

.humidity {
    flex:0.5;

    /* background-color: darksalmon; */
}





#column_2 {
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 4%;
}

/* #column_2 div{border:  1px solid white;} */

.icon {
    flex:1;

        /* background-color: wheat; */
}



.description {
    flex:1;
    
    /* background-color: blueviolet; */
}

.feelsLike {
    flex:1;

    /* background-color: darkkhaki; */
}

.wind {
    flex:1;
    
}

.wind img, p {
    display: inline;
}

#wIcon {
    width: 150px;
}

#windIcon {
    width: 30px;
    height: 25px;
}

.inputform {
    text-align: center;
    margin: 0 auto;
    flex:1;

    /* border:  1px solid white; */
    
}

.inputform #add {
    background-color: blue;
    color: snow;
    border: none;
    font-size: 13px;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;

}

.inputform #add:hover {
    color: black;
    background-color: yellow;
    
}

.inputform #input {
     background-color: antiquewhite;  
     border-radius: 5px;  
     margin-top: 20px;
     text-align: center;

}