body {
    
    background-color: #0a120f;
    color: #9e9e9e;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* div {
    border: 1px solid white;
} */


.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 5%; 
    background-color: #262626;  
    inline-size: 690px; 
    margin: 0 auto;
    margin-top: 5%;
    border-radius: 50px 200px;
    
}

.flag {
    margin: 0 auto;
    margin-bottom: 5px;
    flex:1;
}

#flagsize {
    width: 150px; 
    margin-top: 20px; 
    margin-bottom: 0px;
    
}

.header {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
    flex:1;
    

    /* border: 1px solid white; */
}

.header h1 {
    font-size: 50px;
    margin-bottom: 0px;
    flex:1;
    margin-top: 5px;
}

.header p {
    margin: 5px;
    flex:1;
}

.column_container {
    display: flex;
    margin: 0 auto;
    flex:1;
    inline-size: 470px; 
    /* border: 1px solid white; */
}




#column_1 {
    display: flex;
    flex-direction: column;
    flex:0;    
    margin: 0 auto;
    /* border: 1px solid white; */
    margin-right: 0px;
    
}



.temperature {
    flex:3;
    /* border: 1px solid white; */
    padding: 0px;
    
}

.temperature p {
    font-size: 13px;   
    /* border: 1px solid white; */
    margin-bottom: 5px;
}

#temp {
    
    font-size: 70px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: 100;
    /* border: 1px solid white; */
    /* padding: 0px; */
    
}




.pressure {
    flex:0.5;   
    text-align: right;
    padding-right: 20px;
}


.humidity {
    flex:0.5;
    text-align: right;
    padding-right: 50px;
}



#column_2 {
    flex:0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* padding-left: 4%; */
    inline-size: 100px;
    margin: 0 auto;
    /* border: 1px solid white; */
    margin-left: 0px;
    
}



.icon {
    text-align: center;
    flex:1;
    margin: 0 auto;
    
}



.icon p {
    font-size: 13px;
    margin: 0px;
}


.feelsLike {
    flex:1;
    margin-bottom: 5px;
    margin: 0 auto;
    /* border: 1px solid white; */
    
}

.wind {
    flex:1; 
    margin: 0 auto;
}

.wind img, p {
    display: inline;
}

#wIcon {
    /* width: 100px;  */
    height: 100px;  
    /* border: 1px solid white; */
}

#windIcon {
    width: 30px;
    height: 25px;
}

.pressure img, .humidity img {
    width: 30px;
    height: 30px;
}

.inputform {
    text-align: center;
    margin: 0 auto;
    flex:1;  
}

.pressure , .humidity, .feelsLike ,.wind {
    font-size: 12px;
}

.inputform #add {
    background-color: #9e9e9e;
    color: #0a120f;
    border: none;
    font-size: 13px;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 20px;
}

.inputform #add:hover {
    color: black;
    background-color: #826811; 
}

.inputform #input {
    background-color: #9e9e9e; 
    font-size: 15px;
    border: none;
    border-radius: 5px;  
    margin-top: 20px;
    text-align: center;
}